name: pip-audit

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install
        run: |
          python -m venv env/
          source env/bin/activate
          python -m pip install --upgrade pip
          python -m pip install .
      - uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          virtual-environment: env/
          local: true
